:root{
    --imageSize: 300px;
}


body{
    background-color: rgb(30, 29, 39);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


a{
    text-decoration: none;
}


.head{
    background-color: black;
    position: relative;
    top: -32px;
}
.head h1{
    width: 100%;
    color: white;
    font-size: 3rem;
    height: 25px;
    text-align: center;
    padding: 30px 0px 20px 0px;
}
.head img{
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
    z-index: -999;
    object-fit: cover;
}


.menu{
    z-index: 9999999;
    background-color: black;
    padding: 5px;
    position: sticky;
    top: 0px;
    margin-top: -32px;
}
.menu ul, li{
    position: sticky;
    top: 0px;
    left: 0px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    padding: 10px 40px;
    border-radius: 20px;
}
.menu ul a{
    color: white;
}
.menu ul li:hover{
    background-color: rgb(58, 58, 66);
}


.content{
    position: relative;
    top: 50px;
    width: 80%;
    max-width: 1400px;
    display: block;
    margin: auto;
}
.content section{
    width: 100%;
}
.content section h1{
    color: rgb(230, 235, 255);
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    background-color: hsl(230, 30%, 8%);
    width: 1000px;
    max-width: 80%;
    display: block;
    margin: auto;
}


.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    margin: 50px;
}
.gallery figure, img{
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    align-items: center;
}
.gallery figcaption{
    background-color: hsl(230, 30%, 8%);
    color: rgb(230, 235, 255);
    padding: 10px;
    position: relative;
    top: -10px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}
.gallery figure:hover{
    cursor: pointer;
}


.text{
    width: 80%;
    max-width: 800px;
    display: block;
    margin: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: white;
}
.text a{
    color: lightblue;
}


.email-contact h1{
    color: white;
}
.email-contact{
    color: white;
    width: fit-content;
    display: block;
    margin: auto;
    text-align: center;
}
.email-contact input, textarea{
    margin: 20px;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.email-contact input, textarea:focus{
    outline: none;
}
.email-contact #send-email{
    padding: 10px 100px 10px 100px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
}
.email-contact #send-email:hover{
    cursor: pointer;
    background-color: darkgray;
}

@media (max-width: 900px){
    .gallery{
        display: block;
        margin: auto;
    }
    .gallery figure, img{
        width: 200px;
        height: 200px;
    }
    
}